container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_create_admin:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createadmin"
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
		WSGIPath: django_eb/wsgi.py
  aws:elasticbeanstalk:application:environment:
	DJANGO_SETTINGS_MODULE: django_eb.settings
  aws:elasticbeanstalk:container:python:staticfiles:
	"/static/": "www/static/"